
.mmenubtn {
  outline: none;
}
#navbarDropdown {
  outline: none;
}
.text-red {
  color: red;
}
.text-aqua {
  color: aqua;
}

.navbar-brand {
  font-family: "Courgette", Roboto, serif;
  font-size: 28px;
  color: white;
}

@media (max-width: 767px) {
  .navbar-brand {
    font-size: 24px;
  }
}
