@import "~@angular/material/theming";
@include mat-core();

$light-blue-yellow-primary: mat-palette($mat-light-blue);
$light-blue-yellow-accent: mat-palette($mat-yellow);
$light-blue-yellow-warn: mat-palette($mat-red);
$light-blue-yellow-app-theme: mat-light-theme(
  $light-blue-yellow-primary,
  $light-blue-yellow-accent,
  $light-blue-yellow-warn
);
