@import "~@angular/material/theming";
@include mat-core();

$red-blue-primary: mat-palette($mat-red);
$red-blue-accent: mat-palette($mat-blue);
$red-blue-warn: mat-palette($mat-red);
$red-blue-app-theme: mat-light-theme(
  $red-blue-primary,
  $red-blue-accent,
  $red-blue-warn
);
