<div class="landing-page">
    <div class="wrapper">
        <div class="d-flex flex-column justify-content-center align-items-center text-center h-100">
            <h3 class="display-4">Welcome to Angular 10</h3>
            <p class=" px-3" style="font-size: larger;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ab corporis maxime deserunt et laborum culpa, dolore sequi similique rem reiciendis ipsum optio incidunt neque placeat sunt natus rerum dolorum!</p>
        </div>
    </div>
</div>
