<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <img src="../../../assets/img/angular.png" alt="" />
    </div>
    <div class="text-center">
      <h2 class="text-center">Welcome to Angular 10</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
        officiis? Quasi corporis velit, ab quidem voluptatibus animi maxime
        quos, soluta, quas ad iure odit sed facere! Tempore perferendis eius
        dolores?
      </p>
    </div>
  </div>
</div>
